
/* Day 17 / 5 / 24 */

/* buttons */

body{
    background-color: #f1f2f6;
}

/* buttons */

button{
    cursor: pointer;
}

.gray-btn{
    color: #fff;
    background-color: #aab2bd;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.gray-btn:hover{
    background-color: #ccd1d9;
}

.gray-btn:active{
    border-top: 2px solid #a3a3a3;
}


.white-btn{
    color: black;
    background-color: #fff;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.white-btn:hover{
    color: #fff;
    background-color: #ccd1d9;
    border: 1px solid #a3a3a3;
}

.white-btn:active{
    color: #fff;
    border: 0;
    border-top: 2px solid #a3a3a3;
}


.blue-btn{
    color: #fff;
    background-color: #3bafda;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.blue-btn:hover{
    background-color: #4fc1e9;
}

.blue-btn:active{
    border-top: 2px solid #47add1;
}

.green-btn{
    color: #fff;
    background-color: #8cc152;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.green-btn:hover{
    background-color: #a0d468;
}

.green-btn:active{
    border-top: 2px solid #90be5d;
}

.dgreen-btn{
    color: #fff;
    background-color: #37bc9b;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.dgreen-btn:hover{
    background-color: #48cfad;
}

.dgreen-btn:active{
    border-top: 2px solid #41ba9b;
}


.yellow-btn{
    color: #fff;
    background-color: #f6bb42;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.yellow-btn:hover{
    background-color: #ffce54;
}

.yellow-btn:active{
    border-top: 2px solid #e5b94b;
}


.red-btn{
    color: #fff;
    background-color: #da4453;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.red-btn:hover{
    background-color: #ed5565;
}

.red-btn:active{
    border-top: 2px solid #d54c5b;
}

/* Gray Dropdown */

.button-wrapper{
    width: max-content;
    height: 100%;
}
.button-wrapper .dropdown{
    width: 100%;
    
}
.button-wrapper .dropdown .content-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 11px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
}

.button-wrapper .dropdown .content-wrapper.gray{
    background-color: #aab2bd;
}

.button-wrapper .dropdown p{
    margin: 0 8px 0 0;
}
.button-wrapper .dropdown img{
    margin-top: 6px;
}
.button-wrapper .dropdown-menu{
    color: #fff;
    text-align: center;
    height: 0px;
    opacity: 0;
    transition: 0.3s ease-in;
    visibility: hidden;
      
}
.button-wrapper .dropdown-menu ul{
    padding: 0;
    margin: 0;

}
.button-wrapper .dropdown-menu ul li{
    list-style: none;
    padding: 2px 0;
}

.button-wrapper .dropdown-menu ul li:hover{
    font-weight: bolder;
}

.button-wrapper .dropdown-menu ul li:active{
    font-weight: bolder;
    text-decoration: underline;
}

.dropdown.open .dropdown-menu{
    visibility: visible;
    height: 72px;
    opacity: 1;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

.dropdown.open .dropdown-menu.gray{
    background-color: #aab2bd;
}

.dropdown.open .content-wrapper{
    border-radius: 5px 5px 0 0;
}

.dropdown.open .dropdown-arrow{
    transform: rotate(180deg);
}

/* White dropdown */

.button-wrapper .dropdown .content-wrapper.white{
    color: black;
    background-color: #fff;
    border: 1px solid #aab2bd;
}

.dropdown.open .dropdown-menu.white{
    color: black;
    background-color: #fff;
}

/* Blue dropdown */

.button-wrapper .dropdown .content-wrapper.blue{
    background-color: #3bafda;
}

.dropdown.open .dropdown-menu.blue{
    background-color: #3bafda;
}

/* green dropdown */

.button-wrapper .dropdown .content-wrapper.green{
    background-color: #8cc152;
}

.dropdown.open .dropdown-menu.green{
    background-color: #8cc152;
}

/* info dropdown */

.button-wrapper .dropdown .content-wrapper.info{
    background-color: #37bc9b;
}

.dropdown.open .dropdown-menu.info{
    background-color: #37bc9b;
}

/* yellow dropdown */

.button-wrapper .dropdown .content-wrapper.yellow{
    background-color: #f6bb42;
}

.dropdown.open .dropdown-menu.yellow{
    background-color: #f6bb42;
}

/* red dropdown */

.button-wrapper .dropdown .content-wrapper.red{
    background-color: #da4453;
}

.dropdown.open .dropdown-menu.red{
    background-color: #da4453;
}


/* .dropdown{
    height: 34px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: .85rem;
    position: relative;
}

.dropdown.open{
    border-radius: 5px 5px 0 0;
}

.dropdown.gray{
    background-color: #aab2bd;
}

.dropdown.gray span{
    color: #fff;
}

.dropdown.gray span img{
    margin-bottom: 2px;
} */

/* .dropdown-arrow.open{
    transform: rotate(180deg);
}
.button-wrapper{
    width: 100px;
}

.dropdown-menu{
    color: #fff;
    border-radius: 0 0 5px 5px;
    width: 100px;
    opacity: 0.2;
    transform-origin: top;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    height: 0px;
}
.dropdown.open .dropdown-menu {
    height: 60px;
  }





.dropdown-menu .item{
    display: flex;
    justify-content: center;
    font-size: .85rem;
    padding:2px 0;
    cursor: pointer;
}

.dropdown-menu .item:hover{
    font-weight: bolder;
}

.dropdown-menu .item:active{
    font-weight: bolder;
    text-decoration: underline;
}

.dropdown-menu.gray{
    background-color: #aab2bd;
} */


/* Day 20 / 5 / 24 */

/* Gray line dropdown */

.line-dropdown{
    width: max-content;
    display: inline-block;
}

.line-dropdown .line-content-wrapper{
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    font-size: 13px;
}

.line-dropdown.open .line-content-wrapper{
    border-radius: 5px 5px 0 0;
}

.line-dropdown .line-content-wrapper.gray{
    background-color: #aab2bd;
}

.line-dropdown .line-content-wrapper p{
    margin: 0px 13px;
}

.line-dropdown .line-content-wrapper .line-dropdown-arrow{
    margin: 0 9px;
}

.line-dropdown.open .line-content-wrapper .line-dropdown-arrow{
    transform: rotate(180deg);
}

.line-dropdown .line-dropdown-menu{
    text-align: center;
    color: #fff;
    height: 0px;
    opacity: 0;
    transition: 0.3s ease-in;
    visibility: hidden;
    cursor: pointer;
}

.line-dropdown.open .line-dropdown-menu.gray{
    background-color: #aab2bd;
}


.line-dropdown.open .line-dropdown-menu{
    visibility: visible;
    height: 58px;
    opacity: 1;
    border-radius: 0 0 5px 5px;
    
}

.line-dropdown .line-dropdown-menu ul{
    margin: 0;
    padding: 0;
}

.line-dropdown .line-dropdown-menu ul li{
    list-style: none;
    padding: 2px 0;
    font-size: 13px;
}

.line-dropdown.open .line-dropdown-menu ul li:hover{
    font-weight: bolder;
}

.line-dropdown.open .line-dropdown-menu ul li:active{
    font-weight: bolder;
    text-decoration: underline;
}


/* Warning line dropdown */

.line-dropdown .line-content-wrapper.yellow{
    background-color: #f6bb42;
}

.line-dropdown.open .line-dropdown-menu.yellow{
    background-color: #f6bb42;
}


/* Lines icon bar */

.line-icon-bar{
    width: 102px;
    height: 34px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 0 8px;
}

.line-icon-bar.gray{
    background-color: #aab2bd;
}

.line-icon-bar .left{
    display: grid;
    align-content: center;
    justify-items: start;
    transition: all 0.5s ease-in-out;
}

.line-icon-bar .left .left-bar1{
    background-color: #fff;
    width: 8px;
    height: 2px;
    margin-bottom: 2px;
    transition: all 0.5s ease-in-out;
}

.line-icon-bar .left .left-bar2{
    background-color: #fff;
    width: 12px;
    height: 2px;
    margin-bottom: 2px;
    transition: all 0.5s ease-in-out;
}

.line-icon-bar .left .left-bar3{
    background-color: #fff;
    width: 10px;
    height: 2px;
    margin-bottom: 2px;
    transition: all 0.5s ease-in-out;
}

.line-icon-bar .left .left-bar4{
    background-color: #fff;
    width: 14px;
    height: 2px;
    transition: all 0.5s ease-in-out;
}

/* Turning hamburger lines into cross by adding clicked class to left */

.line-icon-bar .left.clicked{
    margin-bottom: 4px;
}

.left.clicked .left-bar1, .left.clicked .left-bar4{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.left.clicked .left-bar2{
    width: 14px;
    margin: 0 0 -9px 0;
    transform: rotate(50deg);
    transition: all 0.5s ease-in-out;
}

.left.clicked .left-bar3{
    width: 14px;
    margin: 0 0 -9px 0;
    transform: rotate(-50deg);
    transition: all 0.5s ease-in-out;
}

.line-icon-bar .middle{
    display: grid;
    padding: 0 11px;
    align-content: center;
    justify-items: center;
}

.line-icon-bar .middle.gray{
    border-left: 1px solid #96a0ad;
    border-right: 1px solid #96a0ad;
}

.line-icon-bar .middle .middle-bar1{
    background-color: #fff;
    width: 10px;
    height: 2px;
    margin-bottom: 2px;
}

.line-icon-bar .middle .middle-bar2{
    background-color: #fff;
    width: 14px;
    height: 2px;
    margin-bottom: 2px;
}

.line-icon-bar .middle .middle-bar3{
    background-color: #fff;
    width: 10px;
    height: 2px;
    margin-bottom: 2px;
}

.line-icon-bar .middle .middle-bar4{
    background-color: #fff;
    width: 14px;
    height: 2px;
}

.line-icon-bar .right{
    display: grid;
    align-content: center;
    justify-items: end;
}

.line-icon-bar .right .right-bar1{
    background-color: #fff;
    width: 8px;
    height: 2px;
    margin-bottom: 2px;
}

.line-icon-bar .right .right-bar2{
    background-color: #fff;
    width: 12px;
    height: 2px;
    margin-bottom: 2px;
}

.line-icon-bar .right .right-bar3{
    background-color: #fff;
    width: 10px;
    height: 2px;
    margin-bottom: 2px;
}

.line-icon-bar .right .right-bar4{
    background-color: #fff;
    width: 14px;
    height: 2px;
}


/* Lines icon bar  white */

.line-icon-bar.white{
    border: 1px solid #aab2bd;
    padding: 0 7px;
    height: 32px;
}

.line-icon-bar .middle.white{
    border-left: 1px solid #aab2bd;
    border-right: 1px solid #aab2bd;
}

.line-icon-bar.white .white-linebar-background{
    background-color: #434a54;
}

/* Label Gray */

.label{
    border-radius: 2px;
    color: #fff;
    font-size: 10.2px;
    padding: 5.9px 7.9px;
}

.label.gray{
    background-color: #aab2bd;
}

/* Label White */

.label.white{
    color: #333333;
    border: 1px solid #aab2bd;
    padding: 5.4px 6.65px;
}


/* Badge Gray */
.badge{
    border-radius: 20px;
    color: #fff;
    font-size: 10.2px;
    padding: 3.4px 7.9px;
}

.badge.gray{
    background-color: #aab2bd;
}

/* Info badge */

.badge.info{
    background-color: #37bc9b;
}

/* Tooltip bottom */

.tooltip{
    background-color: #545a64;
    color: #fff;
    height: 22px;
    width: 100px;
    font-size: 10px;
    text-align: center;
    align-content: center;
    border-radius: 2px;
    position: relative;
}

.tooltip .tooltip-text.bottom::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #545a64 transparent transparent transparent;
}

/* Tooltip left */

.tooltip .tooltip-text.left::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #545a64 transparent transparent;
}

/* Tooltip top */

.tooltip .tooltip-text.top::after{
    content: "";
    position: absolute;
    bottom: 100%;
    right: 50%;
    margin-right: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #545a64 transparent;
}

/* Tooltip right */

.tooltip .tooltip-text.right::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #545a64;
}

/* Day 21 / 5 / 24 */

/* Sidebar */

.sidebars{
    display: flex;
    gap: 3px;
}

.sidebar{
    width: 40px;
    height: 132px;
    border-radius: 5px;
    /* display: inline-block; */
}

.sidebar .sidebar-icon{
    width: 100%;
    height: 32px;
    align-content: center;
    text-align: center;
}

.sidebar .sidebar-icon.last{
    height: 33px;
}


/* Sidebar Gray */

.sidebar.gray{
    background-color: #aab2bd;
    /* border: 1px solid #aab2bd; */
}

.sidebar.gray .sidebar-icon.gray{
    border-bottom: 1px solid #96a0ad;
}

/* Sidebar White */

.sidebar.white{
    /* width: 38px;
    height: 130px; */
    background-color: #ffffff;
    border: 1px solid #aab2bd;
    box-sizing: border-box;
}

.sidebar.white .sidebar-icon.white{
    border-bottom: 1px solid #96a0ad;
    box-sizing: border-box;
}

.sidebar.white .sidebar-icon.white.middle{
    height: 33px;
}

/* .sidebar.white .sidebar-icon.white{
    height: 31px;
}

.sidebar.white .sidebar-icon.white.last{
    height: 32px;
} */


/* Sidebar Red */

.sidebar.red{
    background-color: #da4453;
}

.sidebar.red .sidebar-icon.red{
    border-bottom: 1px solid #d1293a;
}

/* Menu Dropdown */

.menu_dropdown{
    position: relative;
    width: max-content;
}

.menu_dropdown .menu_dropdown_1, 
.menu_dropdown .menu_dropdown_2{
    background-color: #434a54;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu_dropdown .menu_dropdown_2{
    width: 178px;
    position: absolute;
    left: 199px;
    top: 83.5px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.menu_dropdown .menu_dropdown_1 ul,
.menu_dropdown .menu_dropdown_2 ul{
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

.menu_dropdown .menu_dropdown_1 ul .menu_dropdown_item,
.menu_dropdown .menu_dropdown_2 ul .menu_dropdown_item{
    padding: 5px 15px 5px;
}

.menu_dropdown .menu_dropdown_1 ul .menu_dropdown_item:hover{
    background-color: #656d78;
}

.menu_dropdown 
.menu_dropdown_1 
ul 
.menu_dropdown_item 
.menu_dropdown_arrow {
    padding-left: 30px;
}

/* Opening inner dropdown by hovering*/

.menu_dropdown 
.menu_dropdown_1 
ul 
.menu_dropdown_item.open_inner_dropdown:hover 
.menu_dropdown_2 {
    visibility: visible;
    opacity: 1;
}

/* Opening inner dropdown by clicking (by JS) */

.menu_dropdown 
.menu_dropdown_1 
ul 
.menu_dropdown_item.open_inner_dropdown.clicked
.menu_dropdown_2 {
    visibility: visible;
    opacity: 1;
}


/* Changing arrow direction on hover */

/* .menu_dropdown 
.menu_dropdown_1 
ul 
.menu_dropdown_item.open_inner_dropdown:hover
.menu_dropdown_arrow {
    position: absolute;
    right: -12px;
    top: 106px;
    transform: rotate(180deg);
} */


/* Popover */

.popover{
    background-color: #434a54;
    height: 150px;
    width: 180px;
    border-radius: 5px;
    align-content: center;
    padding: 5px 20px;
    position: relative;
}

.popover h3{
    color: #aab2bd;
    margin: 0 0 5px;
}

.popover p{
    color: #fff;
    margin: 0 0 3px;
}

/* Popover top */

.popover .top::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #434a54 transparent transparent transparent;
}

/* Popover right */

.popover .right::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #434a54 transparent transparent;
}

/* Popover left */

.popover .left::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #434a54;
}

/* Popover bottom */

.popover .bottom::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #434a54 transparent;
}

/* Forms */

input{
    height: 33px;
    width: 461px;
    padding-left: 8px;
    border:solid 1.5px #aab2bd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Gray Input */

input.gray{
    background-color: #e6e9ed;
    border: none;
}

/* Day 22 / 5 / 24 */

/* Text Area */

textarea{
    width: 461px;
    padding-left: 8px;
    border:solid 1.5px #aab2bd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Rounded Input */

input.rounded{
    border-radius: 20px;
}

/* Input with labels and images */

.input-div{
    position: relative;
    width: 461px;
}

.input-div img.success-input-img,
.input-div img.error-input-img {
    position: absolute;
    right:10px;
    top: 16px;
}

/* Success Input */

label.success-label{
    color: #8cc152;
    font-weight: bold;
}

input.success-input{
    border-color: #8cc152;
    margin-top: 5px;
    padding-right: 26.5px;
}

/* Error Input */

label.error-label{
    color: #da4453;
    font-weight: bold;
}

input.error-input{
    border-color: #da4453;
    margin-top: 5px;
    padding-right: 26.5px;
}

/* Google search input */

.input-div .google-search-input{
    color: #5c626b;
    padding-right: 26.5px;
}

.input-div .google-search-input::placeholder{
    color: #5c626b;
}

.input-div img.google-search-open {
    position: absolute;
    right:13px;
    top: 16px;
}

/* Google search input with dropdown */

.input-div .google-search-input.blue-border{
    border-color: #269ecb;
}

.input-div ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13.4px;
    color: #5c626b;
    border: solid 1.5px #aab2bd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    font-family: sans-serif;
    box-shadow: 0px 3px 11px 0px #aab2bd, 0px 0px 3px 0px #aab2bd;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    height: 0;
    opacity: 0;
}

.input-div ul li{
    padding: 8.6px 0px 8.6px 8px;
}

.input-div ul li:hover {
    color: #fff;
    background-color: #269ecb;
    width: calc(100% + -6px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: none !important;
}

.input-div ul li.google-search-dropdown-item{
    border-bottom: solid 1px #e6e9ed;
}

/* Opening dropdown by hovering */

.input-div.google-search:hover input{
    border-radius: 5px 5px 0 0;
}

.input-div.google-search:hover ul{
    visibility: visible;
    height: 100%;
    opacity: 1;
}

.input-div ul li.google-search-dropdown-lastitem:hover {
    border-radius: 0 0 4px 4px;
}

/* search input with buttons on each side */

.input-div.btns-on-sides,
.input-div.action-dropdown-on-sides {
    position: relative;
}

.input-div.btns-on-sides button,
.input-div.action-dropdown-on-sides button,
.input-div.rounded-input-search button {
    border: none;
    background-color: #aab2bd;
    width: max-content;
    height: 33px;
    color: #fff;
    padding: 0 13.29px;
    position: absolute;
}

.input-div.btns-on-sides input{
    padding: 0px 52px 0 40px;
}

.input-div.btns-on-sides button.left-btn{
    border-radius: 5px 0 0 5px;
    border: solid 1.5px #96a0ad;
    border-right: none;
}

.input-div.btns-on-sides button.right-btn {
    border-radius: 0 5px 5px 0;
    border: solid 1.5px #96a0ad;
    border-left: none;
    right: 0;
}

/* search input with action dropdown on each side */

.input-div.action-dropdown-on-sides input{
    padding: 0px 104px 0 104px;
}

.input-div.action-dropdown-on-sides button.left-btn{
    width: 100px;
    background-color: #da4453;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px 0 0 5px;
}

.input-div.action-dropdown-on-sides button.right-btn{
    width: 100px;
    background-color: #3bafda;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 5px 5px 0;
    right: 0;
    top: 0;
}

/* Rounded Search */

.input-div.rounded-input-search button.rounded-input-search-btn{
    background-color: #3bafda;
    border-radius: 0 20px 20px 0;
    right: 0;
    width: 73px;
}

.input-div.rounded-input-search input.rounded{
    padding-right: 80px;
}

/* Warning Input */

label.warning-label{
    color: #f6bb42;
    font-weight: bold;
}

input.warning-input{
    border-color: #f6bb42;
    margin-top: 5px;
    padding-right: 30px;
}

.input-div img.warning-input-img1{
    position: absolute;
    right: 10px;
    top: 14px;
} 

.input-div img.warning-input-img2{
    position: absolute;
    right: 17px;
    top: 19.5px;
} 

/* Number increment / decrement input */

.input-div .num-inc-dec{
    width: fit-content;
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
}

.input-div .num-inc-dec button{
    border: none;
    background-color: #3bafda;
    height: 16px;
    width: 20px;
}

.input-div .num-inc-dec button img{
    margin-bottom: 3.5px;
}

.input-div .num-inc-dec .inc-btn{
    border-radius: 0 5px 0 0;
}

.input-div .num-inc-dec .dec-btn{
    border-radius: 0 0 5px 0;
}

.input-div input.num-inc-dec-input{
    padding-right: 25px;
}


/* Day 23 / 5 / 24 */

/* Checkboxes and Radios */

/* Default Checkbox */

label.checkbox-container{
    height: 18px;
    width: max-content;
    position: relative;
    padding-left: 13px;
    cursor: pointer;
}

label.checkbox-container input.checkbox-input{
    width: 0;
    height: 0;
}

label.checkbox-container span.checkbox-background{
    height: 100%;
    width: 18px;
    background-color: #fff;
    border: solid 1px #aab2bd;
    position: absolute;
    left: 0;
}

/* Adding hover effect on span checkbox */

label.checkbox-container:hover input.checkbox-input ~ span.checkbox-background{
    background-color: #dde1e7;
}

/* Changing background color of span when input checked */

label.checkbox-container input.checkbox-input:checked ~ span.checkbox-background{
    background-color: #3bafda;
    border-color: #3bafda;
}

/* Creating the tick */

label.checkbox-container span.checkbox-background:after{
    content: "";
    position: absolute;
    border: solid #fff;
    height: 10px;
    width: 5px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    left: 5.5px;
    top: 1px;
    display: none;
}

/* Making the tick visible when input checked */

label.checkbox-container input.checkbox-input:checked ~ span.checkbox-background:after{
    display: block;
}

/* Disabled checkbox */

label.checkbox-container.margin-left{
    margin-left: 20px;
}

label.checkbox-container input.checkbox-input:disabled:hover ~ span.checkbox-background{
    background-color: #fff;
    cursor: not-allowed;
}


/* Checked and disabled checkbox */

label.checkbox-container input.checkbox-input:checked:disabled ~ span.checkbox-background{
    background-color: #ccd1d9;
    border-color: #ccd1d9;
    cursor: not-allowed;
}

/* Default radio */

label.radio-container{
    position: relative;
    height: 20px;
    padding-left: 13px;
    cursor: pointer;
}

label.radio-container input.radio-input{
    height: 0;
    width: 0;
}

label.radio-container span.radio-background{
    border: solid 1px #acb4be;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: 0;
}

/* Adding border color when radio on to span */

label.radio-container input.radio-input:checked ~ span.radio-background{
    border-color: #3bafda;
}

/* Making the inner circle of radio */

label.radio-container span.radio-background::after{
    content: "";
    position: absolute;
    border: solid #3bafda;
    border-radius: 50%;
    border-width: 4px;
    left: 5px;
    top: 5px;
    display: none;
}

/* Making the inner circle of radio visible when radio is on */

label.radio-container input.radio-input:checked ~ span.radio-background::after{
    display: block;
}

/* Disabled radio */

label.radio-container.margin-left{
    margin-left: 20px;
}

label.radio-container input.radio-input:disabled ~ span.radio-background{
    border-color: #ccd1d9;
    cursor: not-allowed;
}

/* Checked and disabled Radio */

label.radio-container input.radio-input:checked:disabled ~ span.radio-background{
    border-color: #ccd1d9;
    cursor: not-allowed;
}

label.radio-container input.radio-input:checked:disabled ~ span.radio-background::after{
    border-color: #ccd1d9;
}

/* Alerts */

div.alert{
    width: 460px;
    height: 50px;
    border-radius: 5px;
    text-align: left;
    align-content: center;
    position: relative;
}

div.alert p{
    width: 460px;
    padding-left: 4%;
}

div.alert p span.alert-heading{
    font-weight: bolder;
}

div.alert img.cross-alert-img{
    position: absolute;
    top: 21px;
    right: 4%;
}

/* warning alert */

div.alert.warning{
    background-color: #ffdd87;
    color: #8a6d3b;
}

/* red alert */

div.alert.red{
    background-color: #f2838f;
    color: #a94442;
}

/* big warning alert */

div.alert.big-alert{
    height: 160px;
    align-content: flex-start;
}

div.alert.big-alert p.big-alert-heading{
    margin: 15px 0 8px;
}

div.alert.big-alert p span.big-alert-heading{
    font-size: 20px;
}

div.alert.big-alert p.big-alert-p{
    width: 422px;
    margin: 8px 0 9px;
}

div.alert.big-alert p.big-alert-p span.bold-and-underline{
    font-weight: bold;
    text-decoration: underline;
}

div.alert.big-alert button{
    height: 34px;
    width: 131px;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin: 0 16px 0 4%;
}

div.alert.big-alert a{
    text-decoration: none;
    color: inherit;
}

/* big warning alert */

div.alert.big-alert button.warning-btn{
    background-color: #f6bb42;
}

/* big red alert */

div.alert.big-alert button.red-btn{
    background-color: #da4453;
}

/* Day 24 / 5 / 24 */

/* tabs */

/* tab 1 top */

div.tabs{
    height: 150px;
    width: 461px;
    box-shadow: 0px 1px 4px 0px #aab2bd, 0px 0px 1px 0px #aab2bd;
    border-radius: 3px;
    position: relative;
    background-color: #fff;
}

div.tabs div.button-tabs{
    height: 40px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
}

div.tabs div.button-tabs button.tabs-btn {
    height: 100%;
    width: 154px;
    border: none;
    color: #626363;
    background-color: #e6e9ed;
    padding: 0;
}

div.tabs div.button-tabs button.tabs-btn.mid-btn {
    border-left: solid 1px #ccd1d9;
    border-right: solid 1px #ccd1d9;
}

div.tabs div.button-tabs button.tabs-btn img.tabs-dropdown-arrow{
    margin: 0px 0px 1px 8px;
}

div.tabs p.tabs-text{
    color: #434a54;
    margin: 0;
    padding: 17px;
}

div.tabs div.button-tabs button.tabs-btn:hover{
    background-color: #c9cccf;
}

div.tabs div.button-tabs button.tabs-btn.active{
    background-color: #ffffff;
}

.tabs ul.tab-dropdown{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 37px;
    width: 120px;
    box-shadow: 0px 1px 4px 0px #aab2bd, 0px 0px 1px 0px #aab2bd;
    border-radius: 3px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: none;
}

.tabs .tab-dropdown.open{
    opacity: 1;
    display: block;
}

.tabs ul li{
    padding-bottom: 5px;
    color: #626363;
    background-color: #f1f4f8;
    padding-left: 5px;
    font-size: 14px;
}

.tabs ul li:hover{
    background-color: #c9cccf;
}