body{
    background-color: #f1f2f6;
}


.gray-btn{
    color: #fff;
    background-color: #aab2bd;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.gray-btn:hover{
    background-color: #ccd1d9;
}

.gray-btn:active{
    border-top: 2px solid #a3a3a3;
}


.white-btn{
    color: black;
    background-color: #fff;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.white-btn:hover{
    color: #fff;
    background-color: #ccd1d9;
    border: 1px solid #a3a3a3;
}

.white-btn:active{
    color: #fff;
    border: 0;
    border-top: 2px solid #a3a3a3;
}


.blue-btn{
    color: #fff;
    background-color: #3bafda;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.blue-btn:hover{
    background-color: #4fc1e9;
}

.blue-btn:active{
    border-top: 2px solid #47add1;
}

.green-btn{
    color: #fff;
    background-color: #8cc152;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.green-btn:hover{
    background-color: #a0d468;
}

.green-btn:active{
    border-top: 2px solid #90be5d;
}

.dgreen-btn{
    color: #fff;
    background-color: #37bc9b;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.dgreen-btn:hover{
    background-color: #48cfad;
}

.dgreen-btn:active{
    border-top: 2px solid #41ba9b;
}


.yellow-btn{
    color: #fff;
    background-color: #f6bb42;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.yellow-btn:hover{
    background-color: #ffce54;
}

.yellow-btn:active{
    border-top: 2px solid #e5b94b;
}


.red-btn{
    color: #fff;
    background-color: #da4453;
    width: 140px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
}

.red-btn:hover{
    background-color: #ed5565;
}

.red-btn:active{
    border-top: 2px solid #d54c5b;
}

/* Gray Dropdown */

.button-wrapper{
    width: max-content;
    height: 100%;
}
.button-wrapper .dropdown{
    width: 100%;
    
}
.button-wrapper .dropdown .content-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px 11px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
}

.button-wrapper .dropdown .content-wrapper.gray{
    background-color: #aab2bd;
}

.button-wrapper .dropdown p{
    margin: 0 8px 0 0;
}
.button-wrapper .dropdown img{
    margin-top: 6px;
}
.button-wrapper .dropdown-menu{
    color: #fff;
    text-align: center;
    height: 0px;
    opacity: 0;
    transition: 0.3s ease-in;
    visibility: hidden;
      
}
.button-wrapper .dropdown-menu ul{
    padding: 0;
    margin: 0;

}
.button-wrapper .dropdown-menu ul li{
    list-style: none;
    padding: 2px 0;
}

.button-wrapper .dropdown-menu ul li:hover{
    font-weight: bolder;
}

.button-wrapper .dropdown-menu ul li:active{
    font-weight: bolder;
    text-decoration: underline;
}

.dropdown.open .dropdown-menu{
    visibility: visible;
    height: 72px;
    opacity: 1;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

.dropdown.open .dropdown-menu.gray{
    background-color: #aab2bd;
}

.dropdown.open .content-wrapper{
    border-radius: 5px 5px 0 0;
}

.dropdown.open .dropdown-arrow{
    transform: rotate(180deg);
}

/* White dropdown */

.button-wrapper .dropdown .content-wrapper.white{
    color: black;
    background-color: #fff;
    border: 1px solid #aab2bd;
}

.dropdown.open .dropdown-menu.white{
    color: black;
    background-color: #fff;
}

/* Blue dropdown */

.button-wrapper .dropdown .content-wrapper.blue{
    background-color: #3bafda;
}

.dropdown.open .dropdown-menu.blue{
    background-color: #3bafda;
}

/* green dropdown */

.button-wrapper .dropdown .content-wrapper.green{
    background-color: #8cc152;
}

.dropdown.open .dropdown-menu.green{
    background-color: #8cc152;
}

/* info dropdown */

.button-wrapper .dropdown .content-wrapper.info{
    background-color: #37bc9b;
}

.dropdown.open .dropdown-menu.info{
    background-color: #37bc9b;
}

/* yellow dropdown */

.button-wrapper .dropdown .content-wrapper.yellow{
    background-color: #f6bb42;
}

.dropdown.open .dropdown-menu.yellow{
    background-color: #f6bb42;
}

/* red dropdown */

.button-wrapper .dropdown .content-wrapper.red{
    background-color: #da4453;
}

.dropdown.open .dropdown-menu.red{
    background-color: #da4453;
}


/* .dropdown{
    height: 34px;
    width: 100px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: .85rem;
    position: relative;
}

.dropdown.open{
    border-radius: 5px 5px 0 0;
}

.dropdown.gray{
    background-color: #aab2bd;
}

.dropdown.gray span{
    color: #fff;
}

.dropdown.gray span img{
    margin-bottom: 2px;
} */

/* .dropdown-arrow.open{
    transform: rotate(180deg);
}
.button-wrapper{
    width: 100px;
}

.dropdown-menu{
    color: #fff;
    border-radius: 0 0 5px 5px;
    width: 100px;
    opacity: 0.2;
    transform-origin: top;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    height: 0px;
}
.dropdown.open .dropdown-menu {
    height: 60px;
  }





.dropdown-menu .item{
    display: flex;
    justify-content: center;
    font-size: .85rem;
    padding:2px 0;
    cursor: pointer;
}

.dropdown-menu .item:hover{
    font-weight: bolder;
}

.dropdown-menu .item:active{
    font-weight: bolder;
    text-decoration: underline;
}

.dropdown-menu.gray{
    background-color: #aab2bd;
} */


/* Gray line dropdown */

.line-dropdown{
    width: max-content;
    display: inline-block;
}

.line-dropdown .line-content-wrapper{
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    font-size: 13px;
}

.line-dropdown.open .line-content-wrapper{
    border-radius: 5px 5px 0 0;
}

.line-dropdown .line-content-wrapper.gray{
    background-color: #aab2bd;
}

.line-dropdown .line-content-wrapper p{
    margin: 0px 13px;
}

.line-dropdown .line-content-wrapper .line-dropdown-arrow{
    margin: 0 9px;
}

.line-dropdown.open .line-content-wrapper .line-dropdown-arrow{
    transform: rotate(180deg);
}

.line-dropdown .line-dropdown-menu{
    text-align: center;
    color: #fff;
    height: 0px;
    opacity: 0;
    transition: 0.3s ease-in;
    visibility: hidden;
    cursor: pointer;
}

.line-dropdown.open .line-dropdown-menu.gray{
    background-color: #aab2bd;
}


.line-dropdown.open .line-dropdown-menu{
    visibility: visible;
    height: 58px;
    opacity: 1;
    border-radius: 0 0 5px 5px;
    
}

.line-dropdown .line-dropdown-menu ul{
    margin: 0;
    padding: 0;
}

.line-dropdown .line-dropdown-menu ul li{
    list-style: none;
    padding: 2px 0;
    font-size: 13px;
}

.line-dropdown.open .line-dropdown-menu ul li:hover{
    font-weight: bolder;
}

.line-dropdown.open .line-dropdown-menu ul li:active{
    font-weight: bolder;
    text-decoration: underline;
}


/* Warning line dropdown */

.line-dropdown .line-content-wrapper.yellow{
    background-color: #f6bb42;
}

.line-dropdown.open .line-dropdown-menu.yellow{
    background-color: #f6bb42;
}


/* Lines icon bar */

.line-icon-bar{
    width: 102px;
    height: 34px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 0 8px;
}

.line-icon-bar.gray{
    background-color: #aab2bd;
}

.line-icon-bar .left{
    display: grid;
    align-content: center;
    justify-items: start;
    transition: all 0.5s ease-in-out;
}

.line-icon-bar .left .left-bar1{
    background-color: #fff;
    width: 8px;
    height: 2px;
    margin-bottom: 2px;
    transition: all 0.5s ease-in-out;
}

.line-icon-bar .left .left-bar2{
    background-color: #fff;
    width: 12px;
    height: 2px;
    margin-bottom: 2px;
    transition: all 0.5s ease-in-out;
}

.line-icon-bar .left .left-bar3{
    background-color: #fff;
    width: 10px;
    height: 2px;
    margin-bottom: 2px;
    transition: all 0.5s ease-in-out;
}

.line-icon-bar .left .left-bar4{
    background-color: #fff;
    width: 14px;
    height: 2px;
    transition: all 0.5s ease-in-out;
}

/* Turning hamburger lines into cross by adding clicked class to left */

.line-icon-bar .left.clicked{
    margin-bottom: 4px;
}

.left.clicked .left-bar1, .left.clicked .left-bar4{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.left.clicked .left-bar2{
    width: 14px;
    margin: 0 0 -9px 0;
    transform: rotate(50deg);
    transition: all 0.5s ease-in-out;
}

.left.clicked .left-bar3{
    width: 14px;
    margin: 0 0 -9px 0;
    transform: rotate(-50deg);
    transition: all 0.5s ease-in-out;
}

.line-icon-bar .middle{
    display: grid;
    padding: 0 11px;
    align-content: center;
    justify-items: center;
}

.line-icon-bar .middle.gray{
    border-left: 1px solid #96a0ad;
    border-right: 1px solid #96a0ad;
}

.line-icon-bar .middle .middle-bar1{
    background-color: #fff;
    width: 10px;
    height: 2px;
    margin-bottom: 2px;
}

.line-icon-bar .middle .middle-bar2{
    background-color: #fff;
    width: 14px;
    height: 2px;
    margin-bottom: 2px;
}

.line-icon-bar .middle .middle-bar3{
    background-color: #fff;
    width: 10px;
    height: 2px;
    margin-bottom: 2px;
}

.line-icon-bar .middle .middle-bar4{
    background-color: #fff;
    width: 14px;
    height: 2px;
}

.line-icon-bar .right{
    display: grid;
    align-content: center;
    justify-items: end;
}

.line-icon-bar .right .right-bar1{
    background-color: #fff;
    width: 8px;
    height: 2px;
    margin-bottom: 2px;
}

.line-icon-bar .right .right-bar2{
    background-color: #fff;
    width: 12px;
    height: 2px;
    margin-bottom: 2px;
}

.line-icon-bar .right .right-bar3{
    background-color: #fff;
    width: 10px;
    height: 2px;
    margin-bottom: 2px;
}

.line-icon-bar .right .right-bar4{
    background-color: #fff;
    width: 14px;
    height: 2px;
}


/* Lines icon bar  white */

.line-icon-bar.white{
    border: 1px solid #aab2bd;
    padding: 0 7px;
    height: 32px;
}

.line-icon-bar .middle.white{
    border-left: 1px solid #aab2bd;
    border-right: 1px solid #aab2bd;
}

.line-icon-bar.white .white-linebar-background{
    background-color: #434a54;
}

/* Label Gray */

.label{
    border-radius: 2px;
    color: #fff;
    font-size: 10.2px;
    padding: 5.9px 7.9px;
}

.label.gray{
    background-color: #aab2bd;
}

/* Label White */

.label.white{
    color: #333333;
    border: 1px solid #aab2bd;
    padding: 5.4px 6.65px;
}


/* Badge Gray */
.badge{
    border-radius: 20px;
    color: #fff;
    font-size: 10.2px;
    padding: 3.4px 7.9px;
}

.badge.gray{
    background-color: #aab2bd;
}

/* Info badge */

.badge.info{
    background-color: #37bc9b;
}

/* Tooltip bottom */

.tooltip{
    background-color: #545a64;
    color: #fff;
    height: 22px;
    width: 100px;
    font-size: 10px;
    text-align: center;
    align-content: center;
    border-radius: 2px;
    position: relative;
}

.tooltip .tooltip-text.bottom::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #545a64 transparent transparent transparent;
}

/* Tooltip left */

.tooltip .tooltip-text.left::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #545a64 transparent transparent;
}

/* Tooltip top */

.tooltip .tooltip-text.top::after{
    content: "";
    position: absolute;
    bottom: 100%;
    right: 50%;
    margin-right: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #545a64 transparent;
}

/* Tooltip right */

.tooltip .tooltip-text.right::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #545a64;
}

/* Sidebar */

.sidebars{
    display: flex;
    gap: 3px;
}

.sidebar{
    width: 40px;
    height: 132px;
    border-radius: 5px;
    /* display: inline-block; */
}

.sidebar .sidebar-icon{
    width: 100%;
    height: 32px;
    align-content: center;
    text-align: center;
}

.sidebar .sidebar-icon.last{
    height: 33px;
}

/* Sidebar Gray */

.sidebar.gray{
    background-color: #aab2bd;
    /* border: 1px solid #aab2bd; */
}

.sidebar.gray .sidebar-icon.gray{
    border-bottom: 1px solid #96a0ad;
}

/* Sidebar White */

.sidebar.white{
    /* width: 38px;
    height: 130px; */
    background-color: #ffffff;
    border: 1px solid #aab2bd;
    box-sizing: border-box;
}

.sidebar.white .sidebar-icon.white{
    border-bottom: 1px solid #96a0ad;
    box-sizing: border-box;
}

.sidebar.white .sidebar-icon.white.middle{
    height: 33px;
}

/* .sidebar.white .sidebar-icon.white{
    height: 31px;
}

.sidebar.white .sidebar-icon.white.last{
    height: 32px;
} */


/* Sidebar Red */

.sidebar.red{
    background-color: #da4453;
}

.sidebar.red .sidebar-icon.red{
    border-bottom: 1px solid #d1293a;
}

/* Menu Dropdown */

.menu_dropdown{
    position: relative;
    width: max-content;
}

.menu_dropdown .menu_dropdown_1, 
.menu_dropdown .menu_dropdown_2{
    background-color: #434a54;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu_dropdown .menu_dropdown_2{
    width: 178px;
    position: absolute;
    left: 199px;
    top: 83.5px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.menu_dropdown .menu_dropdown_1 ul,
.menu_dropdown .menu_dropdown_2 ul{
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

.menu_dropdown .menu_dropdown_1 ul .menu_dropdown_item,
.menu_dropdown .menu_dropdown_2 ul .menu_dropdown_item{
    padding: 5px 15px 5px;
}

.menu_dropdown .menu_dropdown_1 ul .menu_dropdown_item:hover{
    background-color: #656d78;
}

.menu_dropdown 
.menu_dropdown_1 
ul 
.menu_dropdown_item 
.menu_dropdown_arrow {
    padding-left: 30px;
}

/* Opening inner dropdown by hovering*/

.menu_dropdown 
.menu_dropdown_1 
ul 
.menu_dropdown_item.open_inner_dropdown:hover 
.menu_dropdown_2 {
    visibility: visible;
    opacity: 1;
}

/* Opening inner dropdown by clicking (by JS) */

.menu_dropdown 
.menu_dropdown_1 
ul 
.menu_dropdown_item.open_inner_dropdown.clicked
.menu_dropdown_2 {
    visibility: visible;
    opacity: 1;
}


/* Changing arrow direction on hover */

/* .menu_dropdown 
.menu_dropdown_1 
ul 
.menu_dropdown_item.open_inner_dropdown:hover
.menu_dropdown_arrow {
    position: absolute;
    right: -12px;
    top: 106px;
    transform: rotate(180deg);
} */


/* Popover */

.popover{
    background-color: #434a54;
    height: 150px;
    width: 180px;
    border-radius: 5px;
    align-content: center;
    padding: 5px 20px;
    position: relative;
}

.popover h3{
    color: #aab2bd;
    margin: 0 0 5px;
}

.popover p{
    color: #fff;
    margin: 0 0 3px;
}

/* Popover top */

.popover .top::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #434a54 transparent transparent transparent;
}

/* Popover right */

.popover .right::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #434a54 transparent transparent;
}

/* Popover left */

.popover .left::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #434a54;
}

/* Popover bottom */

.popover .bottom::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #434a54 transparent;
}

/* Forms */

input{
    height: 33px;
    width: 461px;
    padding-left: 8px;
    border:solid 1px #aab2bd;
    border-radius: 5px;
}

input.gray{
    background-color: #e6e9ed;
    border: none;
}

textarea{
    width: 461px;
    padding-left: 8px;
    border:solid 1px #aab2bd;
    border-radius: 5px;
}

input.rounded{
    border-radius: 20px;
}

label.success-label{
    color: #8cc152;
    font-weight: bold;
}

input.success-input{
    border:solid 2px #8cc152;
    margin-top: 5px;
    width: 431px;
    padding-right: 30px;
}

label.error-label{
    color: #da4453;
    font-weight: bold;
}

input.error-input{
    border:solid 2px #da4453;
    margin-top: 5px;
    width: 431px;
    padding-right: 30px;
}

.input-div{
    position: relative;
}

.input-div img.success-input-img,
.input-div img.error-input-img{
    position: absolute;
    right: 268px;
    top: 18px;
}